<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="_bootstrap::link">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Menu</title>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Панель навигации</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Главная</a>
                </li>
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"-->
<!--                       data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                        Продукты-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
<!--                        <li><a class="dropdown-item" href="/product/productList">Список продуктов</a></li>-->
<!--                        <li><a class="dropdown-item" href="/product/addProduct">Добавить новый продукт</a></li>-->
<!--                    </ul>-->
<!--                </li>-->

<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                        Продукты-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                        <li><a class="dropdown-item" href="/product/productList">Список продуктов</a></li>-->
<!--                        <li><a class="dropdown-item" href="/product/addProduct">Добавить новый продукт</a></li>-->
<!--                    </ul>-->
<!--                </li>-->

<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                        Продукты-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
<!--                        <li><a class="dropdown-item" href="/product/productList">Список продуктов</a></li>-->
<!--                        <li><a class="dropdown-item" href="/product/addProduct">Добавить новый продукт</a></li>-->
<!--                    </ul>-->
<!--                </li>-->

                <li><a class="nav-link" href="/product/productList">Список продуктов</a></li>
                <li><a class="nav-link" href="/product/addProduct">Добавить новый продукт</a></li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Добавить прием пищи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Отчеты</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/user/login">Вход</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/reg">Регистрация</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

</body>
</html>