<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="_bootstrap::link">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Product list</title>
</head>
<body>
<header th:insert="_header"></header>
<h1>Список продуктов</h1>
<select class="form-control" id="productList" name="productList">
    <option value="">Выберите продукт</option>
    <option th:each="product : ${productList}"
            th:value="${product.getName()}"
            th:text="${product.getName()}">
    </option>
</select>
<!--<button>Submit</button>-->

</body>
</html>